/*colour palette*/

@media (prefers-color-scheme: light) {
    :root{
        --textclr: #4A4A48;
        --backgroundclr: #D8DAD3;
        --backgroundclr2: #aeb1aa;
        --highlightclr: #D11141;
    }
}

@media (prefers-color-scheme: dark) {
    :root{
        --textclr: #D8DAD3;
        --backgroundclr: #4A4A48;
        --backgroundclr2: #323231;
        --highlightclr: #D11141;
    }
}

*{
    color: var(--textclr);
    margin: 0;
    padding: 0;
    font-family: 'Metrophobic', sans-serif;
}

body{
    background-color: var(--backgroundclr);
}

header{
    height: 150px;
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header>a{
    width: 200px;
    text-align: center;
    font-size: 50px;
    text-decoration: none;
}

#links>a{
    display: inline-block;
    font-size: 35px;
    text-decoration: none;
    margin: 0 15px;
    transition: 0.2s;
}

#links>a:hover{
    transform: rotate(4.25deg) scale(1.2);
    border-top: 1px solid var(--highlightclr);
    border-bottom: 1px solid var(--highlightclr)
}

/*home page css*/

#primaryContent, #howToPlay{
    width: 100%;
}

#primaryContent{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px 0 50px 0;
}

#primaryContent>p{
    width: 550px;
    padding: 0 30px;
    font-size: 30px;
    text-align: center;
}

#playStart{
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

#playStart>select{
    width: 100%;
    color: var(--textclr);
    background-color: var(--backgroundclr2);
    border-radius: 7px;
    border: 2px solid black;
    font-size: 20px;
    padding: 3px 6px;
    margin-bottom: 20px;
    transition: 0.2s;
}

#playStart>button{
    width: 100%;
    aspect-ratio: 9/4;
    font-size: 38px;
    color: var(--textclr);
    border-radius: 12px;
    border: 2px solid black;
    background-color: var(--backgroundclr2);
    transition: 0.2s;
}

#playStart>button:hover{
    border-radius: 14px;
    border: 2px solid var(--highlightclr);
    background-color: var(--backgroundclr2);
    cursor: pointer;
}

#playStart>select:hover{
    border-radius: 14px;
    border: 2px solid var(--highlightclr);
    background-color: var(--backgroundclr2);
}

#playStart>select *{
    border: 1px solid black;
    color: var(--textclr);
    font-size: 20px;
    background-color: var(--backgroundclr2);
}

#howToPlay>div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 15px 0;
}

#howToPlay>h1{
    margin-left: 105px;
    font-size: 45px;
}

.evenHowTo{
    flex-direction: row-reverse;
    background-color: var(--backgroundclr2);
}

#howToPlay>div>p{
    width: 30%;
    font-size: 22px;
}

#howToPlay>div>img{
    width: 350px;
    aspect-ratio: 16 / 10;
    transition: 0.2s;
    border-radius: 8px;
}

#howToPlay>div>img:hover{
    transform: scale(1.2);
    box-shadow: 0 0 12px var(--highlightclr);
    border-radius: 12px;
}
/*game page css*/

#game{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 80px;
    width: 100%;
}

#gameCanvas{
    border: 3px solid black;
    aspect-ratio: 16/9;
    width: 688px;
}

#toolbar{
    margin-top: 10px;
    width: 688px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#colours{
    display: flex;
    width: 45%;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
}

#colours>img{
    width: 30px;
    aspect-ratio: 1;
}

#colours>*{
    margin: 0 3px;
}

#colours>*:hover{
    cursor: pointer;
}

#colours>div{
    width: 30px;
    aspect-ratio: 1;
    border-radius:50%;
    background-color: rgb(14, 80, 18);
    border: 1px solid black;
}

#submitArea{
    height: 100%;
}

#submitArea>button, #submitArea>input{
    color: var(--textclr);
    background-color: var(--backgroundclr2);
    border-radius: 7px;
    border: 2px solid black;
    transition: 0.2s;
    height: 26px;
}

#submitArea>input{
    padding: 0 5px;
    width: calc(175px - 5px);
    box-sizing: border-box
}

#submitArea>button{
    cursor: pointer;
    padding: 0 5px;
}

#submitArea>button:hover, #submitArea>input:hover{
    border-radius: 14px;
    border: 2px solid var(--highlightclr);
}

#linesInfo{
    margin-top: 50px;
    width: calc(100% - 16%);
    padding: 0 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#linesInfo>h1{
    width: 100%;
    text-align: left;
    margin: 0 0 40px 35px;
}

.metroLine{
    height: 60px;
    width: 100%;
    margin-bottom: 35px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.metroName{
    width: 100%;
    text-align: left;
}

.actualLine{
    height: 10px;
    width: 100%;
    background-color: rgb(163, 12, 12);
}

/*leaderboard page css*/

#leaderboard{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#leaderboardHeader{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#leaderboardHeader>h2{
    margin-right: 15px;
    font-size: 28px;
}

#leaderboardHeader>select{
    width: 195px;
    color: var(--textclr);
    background-color: var(--backgroundclr2);
    border-radius: 7px;
    border: 2px solid black;
    font-size: 20px;
    padding: 3px 6px;
    transition: 0.2s;
}

#leaderboardHeader>select:hover{
    border-radius: 14px;
    border: 2px solid var(--highlightclr);
    background-color: var(--backgroundclr2);
}

#leaderboardHeader>select *{
    border: 1px solid black;
    color: var(--textclr);
    font-size: 20px;
    background-color: var(--backgroundclr2);
}

#leaderTable{
    margin-top: 50px;
    border-collapse: collapse;
    width: 28%;
    min-width:323px;
}

#leaderTable>tbody>tr>td, #leaderTable>tbody>tr>th, #fart{
    border: 2px solid black;
    text-align: center;
    padding: 8px;
    background-color: var(--backgroundclr2);
}