/*colour palette*/

@media (prefers-color-scheme: light) {
    :root{
        --textclr: #4A4A48;
        --backgroundclr: #D8DAD3;
        --backgroundclr2: #aeb1aa;
        --highlightclr: #D11141;
    }
}

@media (prefers-color-scheme: dark) {
    :root{
        --textclr: #D8DAD3;
        --backgroundclr: #4A4A48;
        --backgroundclr2: #323231;
        --highlightclr: #D11141;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Metrophobic&display=swap');

*{
    color: var(--textclr);
    margin: 0;
    padding: 0;
    font-family: 'Metrophobic', sans-serif;
}

body{
    background-color: var(--backgroundclr);
}

header{
    height: 150px;
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header>h1{
    width: 200px;
    text-align: center;
    font-size: 50px;
}

#links>a{
    display: inline-block;
    font-size: 35px;
    text-decoration: none;
    margin: 0 15px;
    transition: 0.2s;
}

#links>a:hover{
    transform: rotate(4.25deg) scale(1.2);
}

#primaryContent, #howToPlay{
    width: 100%;
}

/*home page css*/

/*game page css*/

/*leaderboard page css*/