<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Metro Matcher</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/css/style.css">
        <script src="../static/js/showLines.js" async defer></script>
        <script src="../static/js/canvasDrawing.js" async defer></script>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Metrophobic&display=swap');
        </style>
    </head>
    <body>
        <header>
            <a href="{{ url_for('index') }}">Metro Matcher</a>
            <div id="links">
                <a href="{{ url_for('index') }}">Home</a>
                <a href="{{ url_for('leaderboard') }}">Leaderboard</a>
            </div>  
        </header>

        <div id="game">

            <canvas id="gameCanvas">Your browser does not support the HTML canvas tag.</canvas>

            <div id="toolbar">

                <div id="colours">
                    <img src="../static/images/erase.png">
                </div>

                <div id="submitArea">
                    <input type="text" maxlength="30">
                    <button>Submit</button>
                    <!-- when submitted call function that screenshots canvas and sends the data in a POST request to the server, then in flask redirect to leaderboard with popup of how close they were -->
                </div>
            </div>

            <div id="linesInfo">

                <h1>Line Info</h1>

            </div>
        </div>

        <script>
            const linesFromFlask = `{{ metroinfo | safe }}`;
            const metroName = "{{ metroname }}"
        </script>
        
    </body>
</html>